<div class="mb-5">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb ">
        <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/usermanage']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">User Role Management</a></li>
          <li class="breadcrumb-item"><a [routerLink]="['/userroles/list']" routerLinkActive="active" 
            [routerLinkActiveOptions]="{exact: true}">User Roles</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete User Role</li>
      </ol>
    </nav>
</div>
<div class="card card-body bg-light mb-2 mt-2 offset-2 col-md-8">
  <div class="row">
    <div class="col-md-3">
      <strong>User Role Id:</strong>
    </div>
    <div class="col-md-4">
      {{userRole?.id}}
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <strong>Name:</strong>
    </div>
    <div class="col-md-4">
      {{userRole?.name}}
    </div>
  </div>



  <div class="row">
    <div class="col-md-offset-8 col-md-1">
      <button type="submit" class="btn btn-info" (click)="deleteUserRole()">Delete</button>
    </div>
    <div class="col-md-1">
      <button type="button" class="btn btn-danger" (click)="redirectToUserRolesList()">Cancel</button>
    </div>
  </div>
</div>
  
  
  
  <app-success-modal [modalHeaderText]="'Success message'" 
    [modalBodyText]="'Action completed successfully'" 
    [okButtonText]="'OK'"
    (redirectOnOK)="redirectToUserRolesList()">
  </app-success-modal>
   
  <app-error-modal [modalHeaderText]="'Error message'" 
    [modalBodyText]="errorMessage" 
    [okButtonText]="'OK'">
  </app-error-modal>
  
  