<div class="mb-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a [routerLink]="['/home']" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['/administration']" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}">Administration</a></li>

      <li class="breadcrumb-item active" aria-current="page">Restaurant Statuses</li>
    </ol>
  </nav>
</div>
<div class="row"> 
    <div class="offset-8 col-md-4" style="padding-top: 10px;">
      <a class="btn btn-primary small" [routerLink]="['/restaurantstatus/create']">Add Restaurant Status</a>
    </div>
  </div>
  <br> 
  <div class="row">
    <div class="offset-2 col-md-8">
      <div class="table-responsive">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>restaurantStatus</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of restaurantstatus">
              <td>{{x.restaurantStatusId}}</td>
              <td>{{x.restaurantStatus1}}</td>
              <td><button type="button" id="details" class="btn btn-light" 
                (click)="getDetailsPage(x.restaurantStatusId)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success" 
                (click)="redirectToUpdatePage(x.restaurantStatusId)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" 
                (click)="redirectToDeletePage(x.restaurantStatusId)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </div>
  </div>
  
  
  